<ion-content>
    <div style="text-align: center; margin-top: 30px;">
        <img src="/assets/img/success-icon.png" />
    </div>
    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">ขอขอบคุณที่ท่านกรุณาให้ความร่วมมือในการทำแบบคัดกรอง</h1>
            <h2 class="headmenu">โรคเบาหวานและความดันโลหิตสูง</h2>
        </ion-card-content>
    </ion-card>

    <h3 style="text-align: center; margin-top: 50px;">
        ฝ่ายควบคุมโรคไม่ติดต่อ สุขภาพจิตและยาเสพติด สำนักงานสาธารณสุขจังหวัดตาก<br/> โทร. 0-5551-8100 ต่อ 120
    </h3>
</ion-content>

<ion-footer no-border>

            <ion-tab-bar slot="bottom">
                <ion-button expand="block" fill="clear" routerLink="/">
                    <ion-icon slot="start" name="home"></ion-icon>
                    กลับหน้าหลัก
                </ion-button>

            </ion-tab-bar>
</ion-footer>