<ion-content [fullscreen]="true">
    <ion-toolbar no-shadow>
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-back-button icon="settings" defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>


    <div class="ion-padding" style="margin-right: 20px;">
        <ion-card class="border-title">
            <ion-img src="/assets/img/img-home.png"></ion-img>
            <ion-card-content>
                <ion-row>
                    <ion-col size="12" class="ion-text-center ion-margin-bottom">
                        <ion-card-title class="font-th" style="font-size: 34px;">แบบคัดกรอง</ion-card-title>
                        <ion-card-subtitle class="font-th" style="font-size: 24px;">เบาหวาน<br/>และความดันโลหิต</ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>

    <!--
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
      </svg>
    -->
    <!--
    <div class="slides ion-margin-bottom">
        <div class="main">
            <img src="/assets/img/img-home.png" />
        </div>
        <div class="ion-text-center">
            <ion-card-title class="font-th">แบบคัดกรองเบาหวาน</ion-card-title>
            <ion-card-subtitle class="font-th" style="font-size:20px;">และความดันโลหิต</ion-card-subtitle>
        </div>
    </div>
-->
    <div class="container">
        <ion-item lines="none" style="margin: 10px; border-radius:14px; background: none; ">
            <ion-grid style="height: 70px; margin-top: 10px;">
                <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                        <ion-button color="blue" fill="clear">
                            <ion-icon name="card"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="7">
                        <ion-input type="password" maxlength="13" placeholder="เลขบัตรประชาชน" pattern="[0-9]*" [(ngModel)]="cid" name="cid" class="textbox">
                        </ion-input>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </div>

    <div class="container">
        <ion-item lines="none" style="margin: 10px; border-radius:14px; background: #FFFFFF; height: 75px;">
            <ion-label position="stacked" class="textboxlabel">ประเภทผู้ถูกประเมิน*</ion-label>
            <ion-select [(ngModel)]="type" class="textbox" okText="ตกลง" cancelText="ยกเลิก" (ionChange)="checkType()">
                <ion-select-option value="1" class="textbox">ประชาชนทั่วไป</ion-select-option>
                <ion-select-option value="2" class="textbox">นักเรียน / นักศึกษา</ion-select-option>
            </ion-select>
        </ion-item>

    </div>

    <!-- Crescent -->
    <div class="container">

        <ion-item lines="none" style="margin: 10px; border-radius:14px; background: #ffffff;  height: 75px;" *ngIf="showType">
            <ion-label position="stacked" class="textboxlabel">สิทธิ*</ion-label>
            <ion-select [(ngModel)]="privilege" class="textbox" okText="ตกลง" cancelText="ยกเลิก">
                <ion-select-option value="1" class="textbox">ผู้ประกันตน</ion-select-option>
                <ion-select-option value="2" class="textbox">ข้าราชการ</ion-select-option>
                <ion-select-option value="3" class="textbox">สิทธิหลักประกันสุขภาพถ้วนหน้า</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="none" style="margin: 10px; border-radius:14px; background: #FFFFFF; height: 75px;" *ngIf="!showType">
            <ion-label position="stacked" class="textboxlabel">โรงเรียน</ion-label>
            <ionic-selectable class="textbox" item-content [(ngModel)]="school" [items]="schoolList" itemValueField="id" itemTextField="schoolname" [canSearch]="true" (onChange)="portChange($event)">
            </ionic-selectable>
        </ion-item>

    </div>


    <div class="container" style="margin-bottom: 20px;">
        <ion-button class="textboxlabel" style="color: #FFFFFF;" size="large" expand="block" fill="solid" shape="round" (click)="checkCid()">ตรวจสอบข้อมูล</ion-button>
    </div>

    <div>
        <ion-card style="background-color: #ffffff; margin: 10px; display: none;">
            <ion-list style="border-radius: 0px; margin-bottom: 10px; padding-top: 10px; margin-top: 20px;">
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">ชื่อ*</ion-label>
                    <ion-input class="textbox" [(ngModel)]="name" readonly="readonly"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">สกุล*</ion-label>
                    <ion-input class="textbox" [(ngModel)]="lname" readonly="readonly"></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">อายุ</ion-label>
                    <ion-input class="textbox" [(ngModel)]="age" readonly="readonly"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">Agg</ion-label>
                    <ion-input class="textbox" [(ngModel)]="sex" readonly="readonly"></ion-input>
                </ion-item>

            </ion-list>
        </ion-card>
    </div>

</ion-content>


<!--
<ion-footer no-border>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/home">
            <ion-icon name="home" color="blue"></ion-icon>
            <ion-label>หน้าหลัก</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="save()">
            <ion-icon name="save" color="blue"></ion-icon>
            <ion-label>บันทึก</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-footer>

-->