<!--
<ion-header no-border>
        <ion-toolbar color="new">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="save()">
                    ถัดไป
                    <ion-icon name="arrow-forward"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
-->
<ion-content padding>
    <ion-card style="background: #ffffff;">
        <ion-card-header style="padding:10px; padding-top:20px;">
            <ion-card-title class="textboxlabel" style="text-align: center;">
                แบบคัดกรองเบาหวานและความดันโลหิต<br /> ในประชากรอายุ 35 ปี
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <div style="text-align: center;">
        <img src="/assets/img/img-home.png" />
    </div>
    <ion-label class="textboxlabel" style="color:#ffffff;">ผู้รับการตรวจ</ion-label>
    <ion-list style="border-radius: 10px; margin-bottom: 10px; padding-top: 10px;">
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">สิทธิ*</ion-label>
            <ion-select [(ngModel)]="privilege" class="textbox" okText="ตกลง" cancelText="ยกเลิก">
                <ion-select-option value="1" class="textbox">ผู้ประกันตน</ion-select-option>
                <ion-select-option value="2" class="textbox">ข้าราชการ</ion-select-option>
                <ion-select-option value="3" class="textbox">สิทธิหลักประกันสุขภาพถ้วนหน้า</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">เลขที่บัตรประชาชน*</ion-label>
            <ion-input type="password" maxlength="13" pattern="(^0)([1-9]){8}([0-9])$" [(ngModel)]="cid" class="textbox"></ion-input>
        </ion-item>
    </ion-list>
    <div style="text-align: center; margin-bottom: 10px;">
        <ion-button class="textboxlabel" color="success" (click)="checkCid()">ตรวจสอบข้อมูล</ion-button>
    </div>

    <div *ngIf="showTrue == true">
        <ion-list style="border-radius: 10px; margin-bottom: 10px; padding-top: 10px;">
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">ชื่อ*</ion-label>
                <ion-input class="textbox" [(ngModel)]="name" readonly="readonly"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">สกุล*</ion-label>
                <ion-input class="textbox" [(ngModel)]="lname" readonly="readonly"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="stacked" class="textboxlabel">อายุ</ion-label>
                <ion-input class="textbox" [(ngModel)]="age" readonly="readonly"></ion-input>
            </ion-item>
            <ion-radio-group [(ngModel)]="sex">
                <ion-list-header>
                    <ion-label class="textboxlabel">เพศ</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-icon name="man" color="success"></ion-icon>
                    <ion-label class="textbox">ชาย</ion-label>
                    <ion-radio slot="start" value="M" name="sex" disabled></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-icon name="woman" color="warning"></ion-icon>
                    <ion-label class="textbox">หญิง</ion-label>
                    <ion-radio slot="start" value="F" name="sex" disabled></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
    </div>
</ion-content>

<!--
<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons slot="start" routerLink="/">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="green" (click)="save()">
                <ion-icon slot="icon-only" name="save"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
-->

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/">
                    <ion-icon name="home" color="dark"></ion-icon>
                    <ion-label>หน้าหลัก</ion-label>
                </ion-tab-button>
                <!--
                <ion-tab-button tab="tab2">
                    <ion-icon name="apps"></ion-icon>
                    <ion-label>Tab Two</ion-label>
                </ion-tab-button>
                -->
                <ion-tab-button (click)="save()">
                    <ion-icon name="save" color="dark"></ion-icon>
                    <ion-label>บันทึก</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>