@font-face {
    font-family: thaisanslite;
    src: url('./../../../assets/thaisanslite/thaisanslite_r1.ttf') format('truetype');
}


/*********************************
2. Body and some general stuff
*********************************/

#font-th {
    font-family: 'thaisanslite';
}

.headmenu {
    font-family: 'thaisanslite';
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

.font-th {
    font-family: 'thaisanslite';
}

#head-form {
    font-size: 18px;
}

.headmenu {
    font-family: 'thaisanslite';
    font-weight: bold;
    color: #5f9ea0;
    font-size: 20px;
}

.subheadmenu {
    font-family: 'thaisanslite';
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

.textboxlabel {
    font-size: 20px;
    font-family: 'thaisanslite';
    font-weight: bold;
    color: brown;
}

.textbox {
    font-size: 20px;
    font-family: 'thaisanslite';
}

.bg-head {
    background-color: #018577;
    margin: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.bg-head .text-color {
    color: #ffffff;
    font-family: 'thaisanslite';
    font-weight: bold;
    font-size: 20px;
}

.page-form-bg {
    height: 100%;
    /*
    background: linear-gradient(to top, #1d80bb 0%, #ffffff 100%);
    */
}

ion-content {
    --background: linear-gradient(to top, #ffffff 0%, #1d80bb 100%);
    .slides {
        background: #f1f5f8;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
        text-align: center;
    }
    ion-card {
        width: 100%;
        box-shadow: none;
        border-radius: 14px;
        padding: 14px;
        background: #f1f5f8;
        align-items: center;
        justify-content: center;
        .main {
            width: 60px;
            height: 60px;
            border-radius: 50px;
            background: #FFFFFF;
            box-shadow: 7px 7px 20px #dbdfd2, -7px -7px 20px #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
            }
        }
    }
    .container {
        padding: 6px 20px;
        color: #FFFFFF;
        ion-item {
            --background: rgba(255, 255, 255, .1);
            padding: 0;
            margin: 14px 0;
            --border-radius: 14px;
            color: #FFFFFF;
            font-weight: 600;
            box-shadow: 7px 7px 20px #dbdfd2, -7px -7px 20px #ffffff;
        }
    }
}

page-form {
    .rounded {
        width: 100%;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

ion-toolbar {
    --background: #33394f;
}


/* DOES NOT WORK - not specific enough */

.modal-wrapper {
    background: #222;
}


/* Works - pass "my-custom-class" in cssClass to increase specificity */

.my-custom-class .modal-wrapper {
    background: #222;
}

.my-custom-class {
    --background: #222;
}