<ion-header>
    <ion-toolbar color="green">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="font-th">{{ headName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-card class="bg-head">
    <ion-card-header style="padding:10px;">
        <ion-card-title class="text-color">1. ข้อมูลครอบครัว</ion-card-title>
    </ion-card-header>
</ion-card>

<ion-content class="content">

    <ion-card class="welcome-card ">
        <ion-card-content class="subheadmenu ">
            1.1 พ่อ หรือ แม่ ของผู้ได้รับการประเมินมีประวัติการเจ็บป่วยด้วยโรค
        </ion-card-content>
    </ion-card>
    <ion-item-group padding>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_dm"></ion-checkbox>
            <div class="font-th"> 1.1.1 เบาหวาน (DM)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_ht"></ion-checkbox>
            <div class="font-th "> 1.1.2 ความดันโลหิตสูง (HT)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_gout"></ion-checkbox>
            <div class="font-th "> 1.1.3 โรคเก๊าท์ (Gout)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_crf"></ion-checkbox>
            <div class="font-th "> 1.1.4 ไตวายเรื้อรัง (CRF)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_mi"></ion-checkbox>
            <div class="font-th "> 1.1.5 กล้ามเนื้อหัวใจตาย (MI)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_stroke"></ion-checkbox>
            <div class="font-th "> 1.1.6 โรคเส้นเลือดสมอง (Stroke)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_copd"></ion-checkbox>
            <div class="font-th "> 1.1.7 ถุงลมโป่งพอง (COPD)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="mom_none"></ion-checkbox>
            <div class="font-th "> 1.1.8 ไม่ทราบ</div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked " class="textboxlabel "> 1.1.9 อื่น ๆ ระบุเช่นฆ่าตัวตาย</ion-label>
            <ion-input [(ngModel)]="mom_etc" class="textbox"></ion-input>
        </ion-item>
    </ion-item-group>

    <ion-card class="welcome-card ">
        <ion-card-content class="subheadmenu ">
            1.2 พี่น้อง(สายตรง) ของผู้ได้รับการประเมินมีประวัติการเจ็บป่วยด้วยโรค
        </ion-card-content>
    </ion-card>
    <ion-item-group padding>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_dm"></ion-checkbox>
            <div class="font-th "> 1.2.1 เบาหวาน (DM)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_ht"></ion-checkbox>
            <div class="font-th "> 1.2.2 ความดันโลหิตสูง (HT)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_gout"></ion-checkbox>
            <div class="font-th "> 1.2.3 โรคเก๊าท์ (Gout)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_crf"></ion-checkbox>
            <div class="font-th "> 1.2.4 ไตวายเรื้อรัง (CRF)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_mi"></ion-checkbox>
            <div class="font-th "> 1.2.5 กล้ามเนื้อหัวใจตาย (MI)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_stroke"></ion-checkbox>
            <div class="font-th "> 1.2.6 โรคเส้นเลือดสมอง (Stroke)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_copd"></ion-checkbox>
            <div class="font-th "> 1.2.7 ถุงลมโป่งพอง (COPD)</div>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary" [(ngModel)]="b_none"></ion-checkbox>
            <div class="font-th "> 1.2.8 ไม่ทราบ</div>
        </ion-item>

        <ion-item>
            <ion-label position="stacked " class="textboxlabel "> 1.2.9 อื่น ๆ ระบุเช่นฆ่าตัวตาย</ion-label>
            <ion-input [(ngModel)]="b_etc " class="textbox"></ion-input>
        </ion-item>
    </ion-item-group>

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/">
                    <ion-icon name="home" color="dark"></ion-icon>
                    <ion-label>หน้าหลัก</ion-label>
                </ion-tab-button>
                <!--
                <ion-tab-button tab="tab2">
                    <ion-icon name="apps"></ion-icon>
                    <ion-label>Tab Two</ion-label>
                </ion-tab-button>
                -->
                <ion-tab-button (click)="save()">
                    <ion-icon name="save" color="dark"></ion-icon>
                    <ion-label>บันทึก</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>