<div padding style="background-color: #FFFFFF;">
    <ion-img src="/assets/img/logo-main.png"></ion-img>
    <p>Now that your app has been created</p>
</div>
<ion-content>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item routerLink="/form">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>คัดกรองคนในครอบครัว</ion-label>
        </ion-item>
    </ion-list>
</ion-content>