<ion-header>
    <ion-toolbar color="green">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="font-th">{{ headName }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card class="bg-head">
    <ion-card-header style="padding:10px;">
        <ion-card-title class="text-color">ส่วนที่ 2 การตรวจร่างกาย</ion-card-title>
    </ion-card-header>
</ion-card>

<ion-content class="content" padding>
    <ion-list>
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">ส่วนสูง / ซม.*</ion-label>
            <ion-input class="textbox" [(ngModel)]="height" (keypress)="calculatorBmi()"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">น้ำหนัก / กก.*</ion-label>
            <ion-input [(ngModel)]="weight" class="textbox" (keypress)="calculatorBmi()"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">BMI*</ion-label>
            <ion-input class="textbox" [(ngModel)]="bmi"></ion-input>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label position="stacked" class="textboxlabel">BP ครั้งที่ 1*</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <ion-item>
                    <ion-input class="textbox" [(ngModel)]="bp_s1_start"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
            <ion-col>
                <ion-item size="5">
                    <ion-input class="textbox" [(ngModel)]="bp_s1_end"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label position="stacked" class="textboxlabel">BP ครั้งที่ 2*</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <ion-item>
                    <ion-input class="textbox" [(ngModel)]="bp_s2_start"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
            <ion-col>
                <ion-item size="5">
                    <ion-input class="textbox" [(ngModel)]="bp_s2_end"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label position="stacked" class="textboxlabel">BP เฉลี่ย*</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <ion-item>
                    <ion-input class="textbox" [(ngModel)]="bp_avg_start"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
            <ion-col>
                <ion-item size="5">
                    <ion-input class="textbox" [(ngModel)]="bp_avg_end"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label position="stacked" class="textboxlabel">การตรวจน้ำตาลในเลือด</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div *ngIf="showfbs">
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">กรณีตรวจ FBS</ion-label>
            <ion-input [(ngModel)]="fbs" class="textbox" (keyup)="changSugar()"></ion-input>
        </ion-item>
        </div>
        <div *ngIf="showsugar">
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">หรือ Post pandrail blood sugar</ion-label>
                <ion-input [(ngModel)]="sugar" class="textbox" (keyup)="changSugarPost()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">หลังอาหาร / ชม.</ion-label>
                <ion-input [(ngModel)]="food" class="textbox"></ion-input>
            </ion-item>
        </div>
    </ion-list>

    <!-- Textarea in an item with a floating label -->
    <ion-item>
        <ion-label position="stacked">ตรวจร่างกายทั่วไป</ion-label>
        <ion-textarea [(ngModel)]="checkbody"></ion-textarea>
    </ion-item>
    <br/><br/>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="tab2">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="tab3" (click)="save()">
                    <ion-icon name="arrow-forward"></ion-icon>
                    <ion-label>Next</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>