<ion-header no-border>
    <ion-toolbar color="blue">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" style="color:#ffffff;"></ion-back-button>
        </ion-buttons>
        <ion-title class="font-th" style="color:#ffffff;">{{ headName }}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="content">
    <ion-card style="background: #ffffff; margin: 10px; padding: 5px; box-shadow: none;">
        <div class="font-th" style="text-align: center; font-size:20px; border-bottom: solid 2px #999999;">ส่วนที่ 2 การตรวจร่างกาย</div>
        <ion-list>
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">ส่วนสูง / ซม.*</ion-label>
                <ion-input class="textbox" [(ngModel)]="height" type="number" pattern="[0-9]*"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked" class="textboxlabel">น้ำหนัก / กก.*</ion-label>
                <ion-input [(ngModel)]="weight" class="textbox" type="number" pattern="[0-9]*"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked" class="textboxlabel">รอบเอว*</ion-label>
                <ion-input type="number" pattern="[0-9]*" class="textbox" [(ngModel)]="waistline"></ion-input>
            </ion-item>

        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label position="stacked" class="textboxlabel">BP ครั้งที่ 1*</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="5">
                    <ion-item>
                        <ion-input class="textbox" type="number" pattern="[0-9]*" [(ngModel)]="bp_s1_start"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
                <ion-col>
                    <ion-item size="5">
                        <ion-input class="textbox" type="number" pattern="[0-9]*" [(ngModel)]="bp_s1_end"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label position="stacked" class="textboxlabel">BP ครั้งที่ 2*</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="5">
                    <ion-item>
                        <ion-input class="textbox" type="number" pattern="[0-9]*" [(ngModel)]="bp_s2_start"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
                <ion-col>
                    <ion-item size="5">
                        <ion-input class="textbox" type="number" pattern="[0-9]*" [(ngModel)]="bp_s2_end"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!--
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label position="stacked" class="textboxlabel">BP เฉลี่ย*</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
                <ion-item>
                    <ion-input class="textbox" readonly="readonly" [(ngModel)]="bp_avg_start" (keydown)="avgBp()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="2" style="text-align: center; padding-top:30px;">/</ion-col>
            <ion-col>
                <ion-item size="5">
                    <ion-input class="textbox" readonly="readonly" [(ngModel)]="bp_avg_end" (keydown)="avgBp()"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    -->
        <ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label position="stacked" class="textboxlabel">การตรวจน้ำตาลในเลือด</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div *ngIf="showfbs">
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">กรณีตรวจ FBS</ion-label>
                    <ion-input [(ngModel)]="fbs" class="textbox" type="number" pattern="[0-9]*" (keydown)="changSugar()"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="showsugar">
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">หรือ Post pandrail blood sugar</ion-label>
                    <ion-input [(ngModel)]="sugar" class="textbox" type="number" pattern="[0-9]*" (keydown)="changSugarPost()"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" class="textboxlabel">หลังอาหาร / ชม.</ion-label>
                    <ion-input [(ngModel)]="food" class="textbox"></ion-input>
                </ion-item>
            </div>
        </ion-list>

        <!-- Textarea in an item with a floating label -->
        <ion-item>
            <ion-label position="stacked" class="textboxlabel">ตรวจร่างกายทั่วไป</ion-label>
            <ion-textarea [(ngModel)]="checkbody" class="textbox"></ion-textarea>
        </ion-item>
    </ion-card>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/">
                    <ion-icon name="home" color="dark"></ion-icon>
                    <ion-label>หน้าหลัก</ion-label>
                </ion-tab-button>
                <!--
                <ion-tab-button tab="tab2">
                    <ion-icon name="apps"></ion-icon>
                    <ion-label>Tab Two</ion-label>
                </ion-tab-button>
                -->
                <ion-tab-button (click)="save()">
                    <ion-icon name="save" color="dark"></ion-icon>
                    <ion-label>บันทึก</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>