<ion-header>
    <ion-toolbar color="green">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="font-th">{{ headName }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-card class="bg-head">
    <ion-card-header style="padding:10px;">
        <ion-card-title class="text-color">3. กรณีที่ท่านมีประวัติเจ็บป่วยตามข้อ 2 ท่านปฏิบัติอย่างไร</ion-card-title>
    </ion-card-header>
</ion-card>
<ion-content class="content">
    <ion-radio-group [(ngModel)]="service" style="margin-top:0px;" *ngIf="question">
        <ion-item>
            <ion-radio color="primary" value="1"></ion-radio>
            <div class="font-th"> 3.1 รับการรักษาอยู่ / ปฏิบัติตามที่แพทย์แนะนำ</div>
        </ion-item>
        <ion-item>
            <ion-radio color="primary" value="2"></ion-radio>
            <div class="font-th"> 3.2 รับการรักษาแต่ไม่สม่ำเสมอ</div>
        </ion-item>
        <ion-item>
            <ion-radio color="primary" value="3"></ion-radio>
            <div class="font-th"> 3.3 เคยรักษา ขณะนี้ไม่รักษา / หายาทานเอง</div>
        </ion-item>
    </ion-radio-group>
    <div *ngIf="!question">
        <div padding class="headmenu" style="text-align: center; margin-top: 20px;">* ท่านไม่มีประวัติการเจ็บป่วยในข้อ 2 <br/>ข้ามไปข้อถัดไป</div>

    </div>
</ion-content>


<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button routerLink="/">
                    <ion-icon name="home" color="dark"></ion-icon>
                    <ion-label>หน้าหลัก</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="save()" *ngIf="question">
                    <ion-icon name="save" color="dark"></ion-icon>
                    <ion-label>บันทึก</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="next()" *ngIf="!question">
                    <ion-icon name="save" color="dark"></ion-icon>
                    <ion-label>บันทึก</ion-label>
                </ion-tab-button>

            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>