
<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align:center;" class="font-th">
    สรุปผล<br/>
    {{ headName }}
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header class="headmenu">
          โรคเบาหวาน
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มปกติ</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มเสี่ยงสูง</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มสงสัยรายใหม่</h3>
          </ion-label>
        </ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="headmenu">
          โรคความดันโลหิตสูง
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มปกติ</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
             <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มเสี่ยงสูง</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มสงสัยรายใหม่</h3>
          </ion-label>
        </ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="headmenu">
          ผลการประเมิน Stoke
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มปกติ</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
             <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มเสี่ยง</h3>
          </ion-label>
        </ion-item>

	</ion-list>

		<ion-list>
		<ion-list-header class="headmenu">
          ผลประเมินอัมพฤกษ์
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>ไม่มีโอกาสเสี่ยง</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
             <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>กลุ่มเสี่ยง</h3>
          </ion-label>
        </ion-item>

		<ion-item>
          <ion-avatar slot="start" style="padding-top: 15px;">
             <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>สูง</h3>
          </ion-label>
        </ion-item>


	</ion-list>

	<ion-list>
		<ion-list-header class="headmenu">
          สรุปผลการตรวจคัดกรองยืนยัน
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>DM</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>HT</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
           <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Stroke</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
           <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Obesity</h3>
          </ion-label>
        </ion-item>

        <ion-radio-group [(ngModel)]="contact">
            <ion-list-header>
            	<h3 class="headmenu">การดำเนินงาน</h3>
          	</ion-list-header>
            <ion-item>
                <ion-label class="textbox">ให้คำแนะนำการดูแลตนเอง<br/>และตรวจคัดกรองซ้ำทุก 1 ปี</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label class="textbox">ลงทะเบียนกลุ่มเสี่ยงต่อโรค Metabolic <br/>และแนะนำเข้าโครงการปรับเปลี่ยนพฤติกรรม</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label class="textbox">ส่งต่อเพื่อรักษา</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>
        </ion-radio-group>
	</ion-list>


</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-button tab="tab1" expand="block" fill="clear">
					<ion-icon slot="start" name="save"></ion-icon>
					บันทึกข้อมูล
				</ion-button>

            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>
