<ion-header no-border>
    <ion-toolbar color="blue">
        <ion-title style="text-align:center; color: #ffffff;" class="font-th">
            สรุปผล {{ headName }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">โรคเบาหวาน</h1>
            <div *ngIf="isFbs == true">
                <h2 class="headmenuvalue">การเจาะน้ำตาลหลังอดอาหาร 8 ชั่วโมง</h2>
                <h2 class="headmenuvalue">ผล {{ fbsValue }} = {{ fbsValueText }} </h2>
            </div>
            <div *ngIf="isSugar == true">
                <h2 class="headmenuvalue">การเจาะน้ำตาลหลังอาหาร</h2>
                <h2 class="headmenuvalue">ผล {{ sugarValue }} = {{ sugarValueText }}</h2>
            </div>
            <hr/>
            <h2 class="headmenuvalue">คะแนน {{ scoreDmValue }}</h2>
            <h3 style="color: red;">คำแนะนำ</h3>
            <p class="headmenuvalue">{{ recommend }}</p>
            <!--
            <ion-button (click)="presentModal()">
                <ion-icon name="more"></ion-icon> การคำนวณ
            </ion-button>
        -->
        </ion-card-content>

    </ion-card>

    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">โรคความดันโลหิตสูง {{ bp_avg_start }} / {{ bp_avg_end }}</h1>
            <h2 class="headmenuvalue">ผล {{ ht }}</h2>
            <hr/>
            <h3 style="color: red;">คำแนะนำ</h3>
            <p class="headmenuvalue">{{ htRecommend }}</p>
            <!--
            <ion-button (click)="popupHt()">
                <ion-icon name="more"></ion-icon> การคำนวณ
            </ion-button>
        -->
        </ion-card-content>
    </ion-card>

    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">ผลการประเมิน Stoke</h1>
            <h2 class="headmenuvalue">ผล {{ strokeValue }}</h2>
            <h3 style="color: red;">คำแนะนำ</h3>
            <ion-img src="/assets/img/bmi.jpg"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">ผลประเมินอัมพฤกษ์</h1>
            <h2 class="headmenuvalue">ผล {{ paralysis }}</h2>
            <h3 style="color: red;">คำแนะนำ</h3>
            <ion-img src="/assets/img/paralysis2.png"></ion-img><br/>
            <ion-img src="/assets/img/paralysis.png"></ion-img>
        </ion-card-content>
    </ion-card>

    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">ผลประเมิน Obesity (อ้วน)</h1>
            <h2 class="headmenuvalue">รอบเอว {{ waistline }} = {{ waistlineText }}</h2>
            <hr/>
            <h1 class="headmenu">การแปลผลภาวะอ้วนผอมของร่างกาย ()</h1>
            <h2 class="headmenuvalue">BMI {{ bmi }} = {{ bmiValue }}</h2>
            <h3 style="color: red;">คำแนะนำ</h3>
            <ion-img src="/assets/img/fat.jpg"></ion-img>
            <!--
            <ion-button (click)="popupObesity()">
                <ion-icon name="more"></ion-icon> การคำนวณ
            </ion-button>
        -->
        </ion-card-content>
    </ion-card>

    <ion-card class="lastmenu">
        <ion-card-content style="text-align: center;">
            <h1 class="headmenu">การขับขี่</h1>
            <h4 class="headmenu">
                "หมวกนิรภัย" ช่วยชีวิตได้จริง
            </h4>
            <ul style="text-align: left;" class="font-th">
                <li>หมวกนิรภัยช่วยป้องกันอัตรายจากการบาดเจ็บที่ศีรษะ</li>
                <li>หมวกนิรภัยช่วยป้องกันการเสียชีวิตจากการบาดเจ็บทางสอง</li>
                <li>หมวกนิรภัยช่วยลดค่ารักษาพยาบาลและจำนวนวันในการพักรักษาตัว</li>
            </ul>
            <ion-img src="/assets/img/m1.png"></ion-img>
            <ul>
                <li class="font-th" style="text-align: left;">
                    "พระราชบัญญัติจารจรทางบก พ.ศ.2522 ที่มีการแก้ไขเพิ่มเติม กำหนดให้ผู้ขับขี่รถจักรยานยนต์ และผู้โดยสารสวมหมวกนิรภัย เพื่อป้องกันอัตรายในการขับขีและหากฝ่าฝืน จะมีโทษปรับไม่เกิน 500 บาท หากผู้ขับขี่ให้ผู้โดยสาร(ซ้อนท้าย)โดยไม่สวมหมวกนิรภัย ผู้ขับขี่จะถูกปรับเป็น
                    2 เท่า ของโทษที่กำหนด"
                </li>
            </ul>
            <h4 class="headmenu">
                เรื่องความรู้ว่าด้วยหมวกนิรภัย
            </h4>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m2.png" style="max-width: 150px; margin: auto;" /> <br/>หมวกนิรภัยแบบปิดเต็มหน้าดีที่สุด บังลม กันฝุ่น ให้ความปลอดภัยทั้งศรีษะ ไม่ต้องกกลัวหายใจไม่ออก หรือไม่ได้ยินเสียง เพราะมีการเจาะรูไว้ให้เรียบร้อยแล้ว
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m3.png" style="max-width: 150px;margin: auto;" /> <br/>หมวกนิรภัยโดยปกติแล้วจะมีอายุการใช้งานประมาณ 3 ปี เกินกว่านั้น ควรหาซื้อใหม่ เนื่องจากการเสื่อมสภาพของพลาสติก และโฟมจนไม่สามารถรับแรงกระแทกแทนศรีษะได้
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m4.png" style="max-width: 150px;margin: auto;" /> <br/>เลือกสีที่ทำให้เห็นเด่นชัดแต่ไกล เช่น เหลือง ส้ม แดง รถอื่นเห็นง่ายเขาจะได้ระวัง
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m5.png" style="max-width: 150px;margin: auto;" /> <br/>ความเร็วที่ค่อนข้างปลอดภัยในการขับขี่ไม่ควรเกิน 60 กม./ชม. เป็นความเร็วที่หมวกนิรภัยที่ได้มาตฐานพอจะรับได้อย่าประมาท เป็นที่สุด
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m6.png" style="max-width: 150px;margin: auto;" /> <br/>หมวกดีแค่ไหน แต่ถ้าไม่รัดสายรัดคาง ก็ไม่มีผลประโยชน์ เพราะหากเกิดอุบัติเหตุ หมวกจะกระเด็นออกจากศรีษะ ไม่สามารถป้องกันการบาดเจ็บได้
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m7.png" style="max-width: 150px;margin: auto;" /> <br/>สวมหมวกนิรภัยและรัดคางให้พอดีทุกครั้ง ทั้งผู้ขับขี่และผู้โดยสารไม่ว่าจะขับขี่ทั้งระยะทางใกล้หรือไกล กลางวัลและกลางคืน
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m8.png" style="max-width: 150px;margin: auto;" /> <br/>เลือกหมวกนิรภัยที่มีมาตฐานอุสาหกรรม(มอก.369 - 2539) และที่อยู่ของผู้ผลิตที่มีรายชื่อว่าได้รับมาตฐานของสมอ. พร้อมคำแนะนำวิธีใช้ หมวกที่มีตราสมอ.อย่างเดียว ของปลอมแน่นอน
                ใครก็ทำได้สติ๊กเกอร์ง่าย ๆ
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m9.png" style="max-width: 150px;margin: auto;" /> <br/>เลี่ยงการแขวนหมวกนิรภัยใกล้ถังน้ำมันรถจักรยานยนต์เพราะไอระเหยของน้ำมันจะทำให้โฟมเสื่อมสภาพเร็วขึ้น
            </div>
            <div style="text-align: center;" class="font-th">
                <img src="/assets/img/m10.png" style="max-width: 150px;margin: auto;" /> <br/>เปลี่ยนหมวกนิรภัยทันทีหลังเกิดอุบัติเหตุและหมวกได้รับแรงกระแทกแล้ว ไม่ควรนำหมวกดังกล่าวมาใช้อีก
            </div>
        </ion-card-content>
    </ion-card>


    <!--
	<ion-list>
		<ion-list-header class="headmenu">
          สรุปผลการตรวจคัดกรองยืนยัน
        </ion-list-header>

        <ion-item>
		  <ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>DM</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
            <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>HT</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
           <ion-icon name="remove" color="dark"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Stroke</h3>
          </ion-label>
        </ion-item>

        <ion-item>
        	<ion-avatar slot="start" style="padding-top: 15px;">
           <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Obesity</h3>
          </ion-label>
        </ion-item>

        <ion-radio-group [(ngModel)]="contact">
            <ion-list-header>
            	<h3 class="headmenu">การดำเนินงาน</h3>
          	</ion-list-header>
            <ion-item>
                <ion-label class="textbox">ให้คำแนะนำการดูแลตนเอง<br/>และตรวจคัดกรองซ้ำทุก 1 ปี</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label class="textbox">ลงทะเบียนกลุ่มเสี่ยงต่อโรค Metabolic <br/>และแนะนำเข้าโครงการปรับเปลี่ยนพฤติกรรม</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label class="textbox">ส่งต่อเพื่อรักษา</ion-label>
                <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>
        </ion-radio-group>
	</ion-list>
-->
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-button expand="block" fill="clear" (click)="save()">
                    <ion-icon slot="start" name="save"></ion-icon>
                    บันทึกข้อมูล
                </ion-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>