<div padding style="background-color: #FFFFFF; padding-top: 20%; height: 100%;" class="page-home-bg">
    <ion-img src="/assets/img/logo-main.png"></ion-img>
    <p class="text-content">แบบคัดกรองเบาหวานและความดันโลหิต<br /> ในประชากรอายุ 35 ปี</p>

    <!--
          <ion-list lines="none">
          </ion-list>
        -->

    <div style="text-align: center;">
        <ion-button color="primary" shape="round" routerLink="/form">ทำแบบคัดกรอง</ion-button>
        <p class="version">v 0.0.1</p>
        <p class="version">สำนักงานสาธารณสุขจังหวัดตาก</p>
    </div>


</div>